@{
    ViewData["Title"] = "Review";
    var currentUserId = ViewData["UserId"]?.ToString();
}

@model Review

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <input asp-for="UserID" hidden />
    <input asp-for="MovieID" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(!string.IsNullOrEmpty(Model.Id) ? "Update" : "Create") Review</h2>
            <hr />
        </div>
        <div class="row p-3">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 row p-1">
                <label asp-for="Title" class="p-0">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for=Comment class="p-0">Comment</label>
                <input asp-for=Comment class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Rating" class="p-0"></label>
                <input type="number" asp-for=Rating class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit"
                        class="btn btn-primary form-control">
                    @(!string.IsNullOrEmpty(Model.Id) ? "Update" : "Create")
                </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="App"
                   asp-action="Index"
                   class="btn btn-secondary form-control border">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
